{
	"tchausmening": {
		"reservierung_akt": {
			"name": "Reservierungen der aktuellen Woche",
			"description": "Reservierungen der aktuellen Woche des TC Hausmenings",
			"permission": "can_view_bookings",
			
			"reportXml": "/tchausmening/reservierungen_woche.jrxml"
		},
		"reservierung_vor": {
            "name": "Reservierungen der vorigen Woche",
            "description": "Reservierungen der vorigen Woche des TC Hausmenings",
            "permission": "can_view_bookings",
            
            "reportXml": "/tchausmening/reservierungen_vorwoche.jrxml"
        },
        "reservierung_next": {
            "name": "Reservierungen der nächsten Woche",
            "description": "Reservierungen der nächsten Woche des TC Hausmenings",
            "permission": "can_view_bookings",
            
            "reportXml": "/tchausmening/reservierungen_naechstewoche.jrxml"
        },
		"kundenliste": {
			"name": "Kundenliste für TC Hausmening",
			"description": "Gesamte Kundenliste des TC Hausmenings",
			"permission": "can_view_users",
			
			"reportXml": "/tchausmening/kundenliste.jrxml"
		}
	}	
}